.input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: #eee;
  transition: 200ms;

  &:focus,
  &:hover {
    outline: none;
    border-color: #fb1;
    background-color: #fff;
    box-shadow: 0 0 0 3px #fea;
  }

  &-wrapper {
    margin-bottom: 1rem;
  }
}

.label {
  font-size: 1rem;
  line-height: 1;
  display: block;
  padding-bottom: 0.5rem;
}
