.photo-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;

  #img {
    margin-bottom: 1rem;
  }

  .preview {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;

    &::after {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 100%;
    }
  }
}
