.user-header-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  a,
  button {
    background: #eee;
    border-radius: 0.2rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: 100ms;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #fff;
      box-shadow: 0 0 0 3px #eee;
      border-color: #333;
      outline: none;
    }

    &.active {
      background: #fff;
      box-shadow: 0 0 0 3px #fea;
      border-color: #fb1;

      svg > * {
        fill: #fb1;
      }
    }
  }
}
