%button {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 100ms;
  cursor: pointer;
}

.mobile-button {
  @extend %button;
  padding: 0;

  &::after {
    content: '';
    display: block;
    width: 1.2rem;
    height: 2px;
    border-radius: 2px;
    background: currentColor;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: 200ms;
  }

  &:focus,
  &:hover,
  &.active {
    outline: none;
    background: #fff;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
    color: #fb1;
  }

  &.active {
    &::after {
      transform: rotate(90deg);
      width: 4px;
      height: 4px;
      box-shadow: 0 8px currentColor, 0 -8px currentColor;
    }
  }
}

.user-header-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  a,
  button {
    @extend %button;

    &:hover,
    &:focus {
      background: #fff;
      box-shadow: 0 0 0 3px #eee;
      border-color: #333;
      outline: none;
    }

    &.active {
      background: #fff;
      box-shadow: 0 0 0 3px #fea;
      border-color: #fb1;

      svg > * {
        fill: #fb1;
      }
    }
  }
}

.user-header-nav-mobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 0 1rem;
  background: #fff;
  box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;

  &.active {
    transition: 300ms;
    transform: translateX(0);
    opacity: 1;
    z-index: 100;
    pointer-events: initial;
  }

  a,
  button {
    display: flex;
    align-items: center;
    background: none;
    width: 100%;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;

    svg {
      margin-right: 0.5rem;
    }

    &:hover svg > * {
      fill: #fb1;
    }
  }

  button {
    border-bottom: none;
  }
}
