.header {
  box-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;

  .nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding: 0.5rem 0;
  }

  .login {
    color: #333;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 17px;
      background: url('../../assets/usuario.svg') no-repeat center center;
      margin-left: 0.5rem;
      position: relative;
      top: -1px;
    }
  }
}
