.graph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  & > div {
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.1);
    border-radius: 0.2rem;
    display: grid;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-total {
    grid-column: 1 / 3;
    padding: 2rem;
    font-size: 2rem;

    @media (max-width: 40rem) {
      grid-column: 1;
    }
  }

  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}
