.loading-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;

  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading {
  margin: auto;
  height: 80px;
  width: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 5px;
  border-radius: 50%;
  background-color: rgba($color: #fff, $alpha: 0.5);
}
