.photo {
  margin: auto;
  height: 36rem;
  border-radius: 0.2rem;
  background: #fff;

  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;

  &-details {
    padding: 2rem 2rem 0 2rem;
  }

  &-img {
    grid-row: 1 / 4;

    @media (max-width: 64rem) {
      grid-row: 1;
    }
  }

  .comments {
    padding: 0 2rem;
  }

  &-author {
    opacity: 0.5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:hover {
      text-decoration: underline;
    }
  }

  &-views {
    &::before {
      content: '';
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 0.5rem;
      background: url('../../../assets/visualizacao-black.svg') no-repeat;
      background-position: center center;
    }
  }

  &-attributes {
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;

    li {
      margin-right: 2rem;

      &::before {
        content: '';
        display: inline-block;
        height: 20px;
        margin-right: 0.5rem;
        position: relative;
        top: 3px;
        width: 2px;
        background-color: #333;
        margin-top: 5px;
      }
    }
  }

  @media (max-width: 64rem) {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }
}

@keyframes scaleUp {
  to {
    opacity: 1;
    transform: initial;
  }
}
