.feed-item {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;

  & > div,
  span {
    grid-area: 1/1;
  }

  span {
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: #fff;
    font-size: 1rem;
    text-align: center;

    display: none;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 0.25rem;
      background: url('../../../assets/visualizacao.svg') no-repeat;
      background-position: center;
    }
  }

  &:hover span {
    display: flex;
  }

  &:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: span 2;

    @media (max-width: 40rem) {
      grid-column: initial;
      grid-row: initial;
    }
  }
}
